@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

:root {
    --styleScript: "Style Script", cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    place-items: center;
    height: 9vh;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.7rem;
    box-shadow: 0.1rem 0.4rem 0.6rem 0px rgb(146, 137, 137);
    font-family: var(--styleScript);
}

h1 {
    color: rgb(236, 86, 17);
    font-size: 3rem;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.nav-section button {
    height: 2rem;
    width: 5rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
}

input {
    height: 2rem;
    width: 30rem;
    border-radius: 1.5rem;
}