@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

:root {
    --styleScript: "Style Script", cursive;
    --orange: rgb(236, 86, 17)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    place-items: center;
    height: 9vh;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.7rem;
    font-family: var(--styleScript);
    border-bottom: solid 0.2rem black;
}

h1 {
    color: var(--orange);
    font-size: 2.7rem;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.nav-section button {
    height: 2rem;
    width: 5rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
}

input {
    height: 2rem;
    width: 30rem;
    border-radius: 1.5rem;
}

#content {
    background-image: url(./images/pizza-background.webp);
    height: 91vh;
    padding: 1rem;
    margin-top: 0.1rem;
}